
Android/Debug/colors.xml
Android/Debug/libPRJmegasena.so
Android/Debug/PRJmegasena.classes/classes.dex
Android/Debug/PRJmegasena.o
Android/Debug/PRJmegasena/AndroidManifest.xml
Android/Debug/PRJmegasena/classes/classes.dex
Android/Debug/PRJmegasena/debug/libPRJmegasena.so
Android/Debug/PRJmegasena/library/lib/armeabi-v7a/gdbserver
Android/Debug/PRJmegasena/library/lib/armeabi-v7a/libPRJmegasena.so
Android/Debug/PRJmegasena/library/lib/armeabi/libPRJmegasena.so
Android/Debug/PRJmegasena/library/lib/mips/libPRJmegasena.so
Android/Debug/PRJmegasena/res/drawable-hdpi/ic_launcher.png
Android/Debug/PRJmegasena/res/drawable-hdpi/ic_notification.png
Android/Debug/PRJmegasena/res/drawable-large/splash_image.png
Android/Debug/PRJmegasena/res/drawable-ldpi/ic_launcher.png
Android/Debug/PRJmegasena/res/drawable-mdpi/ic_launcher.png
Android/Debug/PRJmegasena/res/drawable-mdpi/ic_notification.png
Android/Debug/PRJmegasena/res/drawable-normal/splash_image.png
Android/Debug/PRJmegasena/res/drawable-small/splash_image.png
Android/Debug/PRJmegasena/res/drawable-xhdpi/ic_launcher.png
Android/Debug/PRJmegasena/res/drawable-xhdpi/ic_notification.png
Android/Debug/PRJmegasena/res/drawable-xlarge/splash_image.png
Android/Debug/PRJmegasena/res/drawable-xxhdpi/ic_launcher.png
Android/Debug/PRJmegasena/res/drawable-xxhdpi/ic_notification.png
Android/Debug/PRJmegasena/res/drawable-xxxhdpi/ic_launcher.png
Android/Debug/PRJmegasena/res/drawable-xxxhdpi/ic_notification.png
Android/Debug/PRJmegasena/res/drawable/splash_image_def.xml
Android/Debug/PRJmegasena/res/values-v21/styles.xml
Android/Debug/PRJmegasena/res/values/colors.xml
Android/Debug/PRJmegasena/res/values/strings.xml
Android/Debug/PRJmegasena/res/values/styles.xml
Android/Debug/splash_image_def.xml
Android/Debug/strings.xml
Android/Debug/styles-v21.xml
Android/Debug/styles.xml
Android/Debug/UNTmegasena.dcu
Android/Debug/UNTmegasena.o
Android64/Debug/libPRJmegasena.so
Android64/Debug/PRJmegasena/bin/PRJmegasena.apk
Android64/Debug/PRJmegasena/bin/PRJmegasena.apk.idsig
Android64/Debug/PRJmegasena/debug/libPRJmegasena.so
Android64/Debug/PRJmegasena/library/lib/arm64-v8a/libPRJmegasena.so
Android64/Debug/UNTmegasena.dcu
Android64/Debug/UNTmegasena.o
Android64/Release/AndroidManifest.xml
Android64/Release/colors.xml
Android64/Release/libPRJmegasena.so
Android64/Release/PRJmegasena.classes/classes.dex
Android64/Release/PRJmegasena.o
Android64/Release/splash_image_def.xml
Android64/Release/strings.xml
Android64/Release/styles-v21.xml
Android64/Release/styles.xml
Android64/Release/UNTmegasena.dcu
Android64/Release/UNTmegasena.o
Android64/Debug/libPRJmegasena.so
Android64/Debug/PRJmegasena/debug/libPRJmegasena.so
Android64/Debug/PRJmegasena/library/lib/arm64-v8a/libPRJmegasena.so
Android64/Debug/UNTmegasena.dcu
Android64/Debug/UNTmegasena.o
Android64/Debug/libPRJmegasena.so
Android64/Debug/PRJmegasena/debug/libPRJmegasena.so
